<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<div class="card shadow">
  <div class="card-body">
    <h1 class="card-title">
      <span class="badge badge-secondary">{{ data.id }}</span> {{ data.title }}
      <div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'edit' data.id %}">Edit</a>
          <a class="dropdown-item" href="/action/{{ data.id }}?value=assign">Assign ticket to me</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mark ticket as invalid</a>
        </div>
      </div>
    </h1>

    <div class='row'>
      <div class='col-4'>
        <h3>Info</h3>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light"><b>Status:</b> {{ data.status }}</li>
            <li class="list-group-item bg-light"><b>Submitted on:</b> {{ data.time }}</li>
            <li class="list-group-item bg-light"><b>Reported by:</b> {{ data.user_filed }}</li>
            <li class="list-group-item bg-light">
              {% if data.status == 'In Progress' %}
              <b>Assigned to:</b> {{ data.user_assigned }}
              {% elif data.status == 'Done' %}
              <b>Completed by:</b> {{ data.user_completed }}
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class='col-8'>
        <h3>Description</h3>
        <p class="card-text">{{ data.description }}
      </div>
    </div>
  </div>
</div>
{% endblock %}