<!DOCTYPE html>
<div class="card shadow my-4">
  <div class="card-body">
    <h5 class="card-title h2">{{ header }}</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Assigned to</th>
          <th scope="col">Reported by</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in status %}
        <tr>
          <th scope="row">{{ ticket.id }}</th>
          <td>
            <a href="{% url 'details' ticket.id %}">
              {{ ticket.title }}
            </a>
          </td>
          <td>
            {% if ticket.user_assigned %}
            <a href="{% url 'profile' ticket.user_assigned %}">
              {{ ticket.user_assigned }}
            </a>
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            {% if ticket.user_filed %}
            <a href="{% url 'profile' ticket.user_filed %}">
              {{ ticket.user_filed }}
            </a>
            {% else %}
            -
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>